<nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand" href="/"><span style="color:red">Ya</span>tube</a>

    <nav class="my-2 my-md-0 mr-md-3 text-light">
        {% if user.is_authenticated %}
            <a class="p-2 text-light border border-light rounded-pill" href="{% url 'new_post' %}">Новая запись</a>
        {% endif %}
        {% if user.is_authenticated %}
            <span style="color:springgreen">Пользователь: {{ user.username }}.</span>
            <a class="p-2 text-light" href="{% url 'password_change' %}">Изменить пароль</a>
            <a class="p-2 text-light" href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a class="p-2 text-light" href="{% url 'login' %}">Войти</a> |
            <a class="p-2 text-light" href="{% url 'signup' %}">Регистрация</a>
        {% endif %}
    </nav>
</nav>