{% extends "base.html" %}
{% block title %} Пост {% endblock %}
{% block header %} Пост {% endblock %}
{% block content %}

<main role="main" class="container">
<div class="row">

    {% include "includes/profile_card.html" with author=author full_name=full_name count=count followers=followers following_authors=following_authors %}

    <div class="col-md-9">

        <!-- Пост -->
        <div class="container">
            {% include "includes/post_item.html" with post=post %}
        </div>

        {% include 'includes/comments.html' %}

    </div>
</div>
</main>

{% endblock %}
